.MuiInput-input,
.MuiInputBase-input {
  color: var(--color-text-default) !important;
}

.MuiInputBase-root,
div.MuiInputBase-root,
.MuiFormLabel-root,
label.MuiFormLabel-root {
  font-family: $font-family !important;
}

.MuiFormHelperText-root.Mui-error {
  @include H7;

  color: var(--color-error-default) !important;
}
